@media (max-width: 575.98px) {
    .tabs-col {
      columns:2;
    }
    .carousel-caption{ 
        top:20%;
        bottom:5%;
        padding: 10px;
        width: 60%;
        left:3%;

    }
    .carousel-caption h1{
        font-size: 30px;
    }
    .carousel-caption h4{
        font-size:15px;
    }
    .carousel-caption a{
        display: none;
    }
    .nav-tabs .nav-item{
        padding:5px;
        margin: 0;
    }

  }

@media (min-width: 576px) { 
    .carousel-caption{
          
        top:20%;
        bottom:30%;
        padding: 10px;
        width: 60%;
        left:5%;

    }
    .carousel-caption p{
            font-size:15px;
    }
}
@media (min-width: 768px) {
    .carousel-caption{
        top:30%;
        bottom:50%;
        padding: 10px;
        width: 60%;
        left: 10%;

    }
    .carousel-caption p{
        font-size:25px;
}
}
@media (min-width: 992px) {
    .carousel-caption{
        top:30%;
        bottom:30%;
        padding: 10px;
        width: 40%;
        left: 20%;

    }
    .carousel-caption p{
        font-size:30px;
}
}
@media (min-width: 1200px) {
    .carousel-caption{
        top:30%;
        bottom:30%;
        padding: 10px;
        border-radius: 10px;
        width: 40%;
    }
    .carousel-caption p{
        font-size:35px;
}
}   
.card-img{
    box-shadow: 0 5px 10px;
}
.bg-image-news {
    background-image: url(img/books/bg/book_banner_cover_blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
section{
    display:block;
}

input[type=email]{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
}
.footer{
    bottom: 0;
    width: 100%;
    line-height: 60px;
    margin:0;
    padding:10px;
}
.sub{
    border: 3px solid black;
    border-radius: 10px;
}
.img-gallery img{
    height: auto;
    width: auto;
}
.img-gallery img:hover{
    transition-duration: 0.2s;
    transform:scale(1.06);
    overflow: hidden;
    cursor: pointer;
}


    